# Flutter & Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins
.idea/
.vscode/
*.iml
*.log

# Android
**/android/.gradle/
**/android/**/local.properties
**/android/**/*.keystore

# iOS
**/ios/Pods/
**/ios/Runner/xcuserdata/
**/ios/Flutter/Flutter.podspec

# macOS
**/macos/Flutter/ephemeral/

# Misc
.DS_Store
*.class
*.jar

# Google services / env
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
.env
